@media only screen and (max-width : 480px) {
	
	img{
		max-width:100%;
		width:100%
	}
	
	h2{
		font-size:1.4em;
	}
	
	article section{
		float:none;
		clear:both;
		max-width:100%;
	}
	
	
	article{
		max-width:100%;
		border-bottom:none;
		display:inline-block;
		width:45%
	}
	.sinopsis, .video{
		display: none;
	}
	
	.portada, .reparto{
		display:table;
	}
	

	.reparto h3, .reparto ul li{
		display:inline;
		font-size: 0.7em;
	}
	
	.reparto h3::after{
		content:":";
	}
	.reparto ul li::after{
		content:",";
	}
	
	.reparto ul{
		list-style-image:none;
	}
	
	article:first-child section{
		float:left;
		clear:none;
	}
	
	article:first-child{
		max-width:100%;
		width:100%;
		border-bottom: 1px dotted #d7d8cb;
	}
	
	article:first-child .reparto, article:first-child .video{
		display:none;
	}
	
	article:first-child .portada, article:first-child .sinopsis{
		display: table;
		max-width:50%;
	}
	

	
}