@import url('https://fonts.googleapis.com/css?family=Anton|Lobster');

h1{
  font-family: 'Anton', sans-serif;
  color: #414239;
  font-size: 4em;
}

h2{
  font-family: 'Lobster', cursive;
  color: #9e0947;
  font-size: 2.5em;
}

img{
  width:60%
}

.video{
	padding: 10px;
}

p{
  font-size: 'Verdana';
}

h3{
  color: #ce105c;
  font-size: 1em;
}

article{
  border-bottom: 1px dotted #d7d8cb;
}

article>section{
  float: left;
  max-width: 25%;
}

ul{
  list-style-image: url('http://web-toolkit.global.sky.com/2.2.13-rc-v1/_site/static/font-svgs/carousel-play.svg');
}

.principal{
	font-weight:bold;
}

.secundario{
	font-style: italic;
}

img:hover{
  opacity: 0.8;
}

/* Pregunte a compañeros del semestre pasado por un problema y me contaron del clearfix Reloaded: http://cssmojo.com/the-very-latest-clearfix-reloaded */
article::after {
    content:"";
    display:table;
    clear:both;
}

