
* {
    box-sizing: border-box;
}

@media only screen and (max-width : 820px) and (min-width : 480px){
	h1{
		text-align:center;
	}
	body{
		background-color:gray;
	}
	body>section{
		border:1px solid gray;
		background-color:white;
	}
	
	h2{
		font-size:1.4em;
	}
	
	article section{
		float:none;
		clear:both;
		max-width:100%;
	}
	
	
	article{
		max-width:100%;
		border-bottom:none;
		display:inline-block;
		width:45%
	}
	.sinopsis, .portada{
		display: none;
	}
	
	.reparto{
		display:table;
	}
	
	.video{
		width:100%;
	}
	.reparto h3, .reparto ul li{
		display:inline;
		font-size: 0.7em;
	}
	
	.reparto h3::after{
		content:":";
	}
	.reparto ul li::after{
		content:",";
	}
	
	.reparto ul{
		list-style-image:none;
	}
}